.modal {
    width: 100%;
    height: 75%;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
    border-radius: 4rem 4rem 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal__inner {
    width: 80%;
    height: 80%;
}

.modal__effect_show {
    position: absolute;
    bottom: 0;
    transition: all 250ms;
    -webkit-animation: effect_show 0.5s;
    -moz-animation: effect_show 0.5s;
    -ms-animation: effect_show 0.5s;
}

@-webkit-keyframes effect_show {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}

@-moz-keyframes effect_show {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}

@keyframes effect_show {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}

.modal__effect_hide {
    transition: all 250ms;
    height: 0;
    position: absolute;
    bottom: 0;
    -webkit-animation: effect_hide 0.5s;
    -moz-animation: effect_hide 0.5s;
    -ms-animation: effect_hide 0.5s;
    visibility: hidden;
}

.modal__effect_hide  > * {
    display: none;
}

@-webkit-keyframes effect_hide {
    0% {
        height: 75%;
        visibility: visibility;
    }
    100% {
        height: 0;
    }
}

@-moz-keyframes effect_hide {
    0% {
        height: 75%;
        visibility: visibility;
    }
    100% {
        height: 0;
    }
}

@keyframes effect_hide {
    0% {
        height: 75%;
        visibility: visibility;
    }
    100% {
        height: 0;
    }
}